*{
    margin: 0;padding: 0;
}
:root{
    --color:purple;
    --seccolor:rgb(170, 22, 170);
}
body{
    background-color: var(--color);
}
.bar{
    list-style-type: none;  
    display:flex;
}

.t{
    --color:rgb(25, 251, 5);
background-color: var(--color);
}
.y{
    background-color: var(--seccolor);
}
.h{
    --color:rgb(251, 9, 5);
    background-color: var(--color);
}
.ki{
    margin: 10px;
    padding: 30px;
    color: white;
    border: 3px solid steelblue;
}