*{
    margin: 0;padding: 0;
}

nav{
    background-color: #A9A9A9;
    height: 90vh;
    width: 40vw;
    margin: auto;
    padding:  40px;
    padding-bottom: 10px;
    
}
.main{
    width: 30vw;
    height: 80vh;
    margin:auto;
    background-color: aliceblue;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
}
.image{
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10px;
    height: 40vh;
    width: auto;
    /* background-color: crimson; */
    box-sizing: border-box;
    
    padding-top: 2px;
}
#lake{
    display: block;
    height: 40vh;
    width: auto;
    margin: auto;
    box-sizing: border-box;
    border-radius: 10px;
    
}
.description{
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    background-color: whitesmoke;
    height: 20px;
    display:inline-block;
    color: rebeccapurple;
    
}
.nature{
    text-align: center;
    display:inline-block;
    background-color: whitesmoke;
    width: 50px;
    border: 1px solid grey;
    border-radius: 360px;
    margin-left:50px;
}
.lake{
    height: 20px;
    margin-left: 5px;
    width: 40px;
}
main{
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
p{
    color: rgb(41, 40, 40);
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-overflow: clip;
}
.read{   
    color: blue;
    background-color: rgba(4, 192, 255, 0.129);
    margin: 30px auto;
    border-radius:360px;
    padding-top: 10px;
    height: 30px;
    width: 100px;
    text-align: center;
    
}
